<!doctype html>
<html ng-app="DominoEventsTester">

    <head>
        <link rel="stylesheet" href="resources/style.css">
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
        <script src="bower_components/angular/angular.js"></script>

        <script src="../../lib/sizzle/sizzle.js"></script>
        <script src="../../src/domino.js"></script>
        <script src="../../src/core/support.js"></script>
        <script src="../../src/event/binder.js"></script>

        <script src="js/app.js"></script>
        <script src="js/directives/autoscroll.js"></script>
        <script src="js/controllers/main.js"></script>
    </head>

    <body ng-controller="MainCtrl">

        <div class="t-menu">
            <div class="t-menu-wrapper">

                <h1>
                    {{package.name}}
                    <span class="t-header-legend">Version {{package.version}}</span>
                </h1>

                <div>
                    <div class="t-input-header">
                        Template Selection
                    </div>
                    <select class="t-template-select" 
                            ng-model="template"
                            ng-selected="resetCapture('tpl select')"
                            ng-options="f.description for f in templates">
                    </select>
                </div>
                <div class="t-separator"></div>
                <div>
                    
                    <div class="t-input-header">
                        Browser Console Logging
                    </div>
                    <input class="t-console-checkbox" type="checkbox" ng-model="console">
                    <span class="t-input-field" ng-switch on="console"> 
                            <span ng-switch-when="true">
                                enabled
                            </span>
                            <span ng-switch-default>
                                disabled
                            </span>
                    </span>


                </div>
                <div class="t-separator"></div>
                <div>
                    <div class="t-input-header">
                        Captured Elements Selector
                    </div>
                    <input class="t-selector-input" type="text" ng-model="selector" ng-change="resetCapture('selector')"></input>
                </div>
                <div class="t-separator"></div>
                <div class="t-checkbox-group">
                    <div class="t-input-header">
                        Captured Events
                    </div>
                  
                    <div class="t-domevents-checkbox" ng-repeat="domEvent in domEvents">
                        <input type="checkbox" ng-model="domEvent.capture" ng-change="resetCapture('cbox')">
                        <span class="t-input-field">
                            {{domEvent.name}}
                        </span>
                    </div>
                      <div class="t-checkbox-toolbar">
                        <a href="" ng-click="selectAllDomEvents()"><i class="icon-check"></i> Select all</a> 
                        <a href="" ng-click="deselectAllDomEvents()"><i class="icon-check-empty"></i> Deselect all</a>
                    </div>
                </div>

                <div class="t-separator"></div>

                <div class="t-capture-link-wrapper">
                    <a href="" class="t-link-button t-capture-link" ng-click="toggleCapture()">
                        <span ng-switch on="capture">
                            <span ng-switch-when="true">
                                <i class="icon-power-off"></i> Stop Capture
                            </span>
                            <span ng-switch-default>
                                <i class="icon-power-off"></i> Start Capture
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="t-event-console">

            <h1>
                Events Console
            </h1>

            <div t-auto-scroll class="t-event-list">
                    <div class="t-event-row" 
                         ng-class="{'t-event-row-last': $last}"
                         ng-class-odd="'t-event-row-odd'" 
                         ng-class-even="'t-event-row-even'" 
                         ng-repeat="event in capturedEvents">
                        
                        <a  href="" 
                            ng-click="event.hideDetails = !event.hideDetails">
                        
                        <i 
                            class="t-icon"
                            ng-class="{true:'icon-expand', false: 'icon-collapse' }[event.hideDetails]">
                        </i>

                        <span class="t-event-type">
                            {{event.type}}
                        </span>
                        <span>
                            on
                        </span>
                        <span class="t-event-target-tag">
                            {{event.targetTag}}
                        </span>
                        <span class="t-event-target-id">
                            {{event.targetId}}
                        </span>
                        <span class="t-event-target-cls">
                            {{event.targetCls}}
                        </span>

                        </a>
                        <div class="t-event-details" ng-hide="event.hideDetails" ng-repeat="(property, value) in filterCapturedEvent(event)">
                            <span class="t-event-detail-property">{{property}}: </span>
                            <span class="t-event-detail-value">{{value}}</span>
                        </div>

                    </div>
            </div>

            <div class="t-event-console-toolbar">
                   <a href="" class="t-link-button t-clear-link" ng-click="clearCapturedEvents()">
                    <i class="icon-ban-circle"> Clear</i>
                    </a>
            </div>
        </div>

        <div class="t-template-container">
            <h1>
                Template
            </h1>

            <div class="t-template-wrapper" ng-include="getTemplateUrl()" onload="resetCapture()"></div> 

            <div class="t-template-toolbar">

                <a href="" class="t-link-button t-template-reload-link" ng-click="reloadTemplate()">
                <i class="icon-repeat"> Reload</i>
                </a>
            </div>
        </div>



    </body>

</html>